* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #d1f2eb; /* Light emerald green background */
  height: 100vh; /* Full viewport height */
}
h2{
  color:black;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100%; /* Full height */
}

.navbar {
  background-color: #1abc9c; /* Emerald green for the navbar */
  color: white;
  padding: 1rem;
  width: 100%; /* Full width */
  position: fixed; /* Fixed position at the top */
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it stays above other content */
}

.navbar h1 {
  margin: 0;
  font-size: 1.5rem;
}

nav {
  margin-top: 0.5rem;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  margin-top: 80px; /* Space for fixed navbar */
  padding: 20px; /* Padding for the main content */
  flex-grow: 1; /* Allow main to grow */
}
